<div class="product-list">
    <h1>Products List</h1>
    <div class="product-details" style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 10px;">
        <img src="{{%PRODUCT_IMAGE%}}" alt="" style="width: 100px; height: 100px;">
        <h2 style="font-size: 20px; font-weight: bold;">{{%PRODUCT_NAME%}}</h2>
        <p style="font-size: 16px; font-weight: normal;">{{%PRODUCT_DESCRIPTION%}}</p>
        <p style="font-size: 16px; font-weight: normal;">{{%PRODUCT_PRICE%}}</p>
        <a style="text-decoration: none; color: #fff; background-color: #60b84a; padding: 10px; border-radius: 5px; margin: 10px;" 
        href="/products?id={{%PRODUCT_ID%}}"> Show Details</a>
    </div>
</div>